body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.main-page-title {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

.track-canvas {
  border:2px solid black;
}

.main-information-container {
  justify-content: center;
  width: 85vw;
  margin: auto;
}

.calculations-container {
  justify-content: center;
  display: flex;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  border: 2px solid #212529;
  width: 20%;
}

.track-table {
  width: 80%;
}